.book {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
    margin: 10px;
    padding: 20px;
  }

  .bookshelf {
    border: 5px solid brown;
    padding: 20px;
    width: 300px;
  }